@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* box-shadow:inset 0px 0px 0px 1px red; */
}

.roxo {
    background-color: #5A1CC0;
}

body {
    font-size: 100%;
    font-family: Poppins, sans-serif;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    margin: 32px auto;
    width: max-content;
    background: #FFFFFF;
    border-radius: 8px;
}

.danilomd{
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height:40px;
}

.item-nav{
    color: black;
}

.contato {
    -webkit-box-shadow:inset 0px 0px 0px 3px#5A1CC0;
    -moz-box-shadow:inset 0px 0px 0px 3px #5A1CC0;
    box-shadow:inset 0px 0px 0px 3px #5A1CC0;
    border-radius: 32px;
    transition: 300ms ease;
    padding: 8px 16px;
}


.contato:hover {
    color: white;
    background-color: #5A1CC0;
}

.menu{
    display: none;
    cursor: pointer;
    width: 50px;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #000000;
    height: 1px;
    
    transition: right 0.3s ease-out;
  }
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

.hero {
    width: 1060px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.prazer {
    font-size: 64px;
    font-weight: 400;
}

.hero-text {
    width: 450px;
    font-size: 128px;
    font-weight: 500;
    line-height: 80%;
    animation: fadeInBottom 1.5s cubic-bezier(.67,.1,.32,1);
}

.hero-textos {
    display: flex;
    align-items:flex-end;
    gap: 10px;
}

.hero-textos h2{
    color: #dddddd;
    font-weight: 600;
    opacity: 0;
    font-size: 40px;
    line-height: 75.5%;
    animation: fadeInLeft 1s ease 0.7s forwards;
}

.hero-subtext {
    font-weight: 400;
    font-size: 24px;
    width: 450px;
    opacity: 0;
    animation: fadeInBottom 1.5s ease 0.5s forwards;
}

.button {
    display: inline-block;
    color: white;
    background-color: #5A1CC0;
    max-width: fit-content;
    border-radius: 100px;
    padding: 8px 24px;
    font-weight: 400;
    font-size: 24px;
    transition: background-color 300ms ease;
}

.vamos-conversar {
    margin-top: 40px;
    opacity: 0;
    animation: fadeInBottom 1.5s ease 0.7s forwards;
}

.button:hover {
    background-color: #A959FA;
}

.sobre{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    width: 1050px;
}

.sobre-esquerda, .sobre-direita, .perfil {
    display: flex;
    flex-direction: column;
    gap:50px;
}

.sobre-esquerda {
    max-width: 363px;
}

.sobre-direita {
    max-width: 600px;
}

.perfil {
    align-items: center;
    justify-content: center;
}

.sobre p {
    margin: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.sobre h2 {
    font-weight: 400;
    font-size: 96px;
    line-height: 87.5%;
    width: 500px;
}

.servicos h2 {
    margin-bottom: 30px;
    margin-top: -20px;
}

.perfil img {
    width: 300px;
    border-radius: 1000px;
}

#barra {
    stroke-dasharray: 329;
    stroke-dashoffset: 329;
    animation: svgDraw 1s cubic-bezier(.67,.18,.28,.86) forwards;
}

.sobre svg {
    margin-bottom: 40px;
}

.curriculo {
    -webkit-box-shadow:inset 0px 0px 0px 3px#5A1CC0;
    -moz-box-shadow:inset 0px 0px 0px 3px #5A1CC0;
    box-shadow:inset 0px 0px 0px 3px #5A1CC0;
    color: black;
    background-color: white;
}

.curriculo:hover {
    background-color: #5A1CC0;
    color: white;
}


.servicos li {
    margin-left: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.icones {
    margin: 0 40px;
    display: flex;
    gap: 50px;
}

.processo {
    padding: 80px;
    background-color: #200F3D;
    color:white;
}

.processo h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 42px; 
    text-align: center;
    letter-spacing: 0.305em;
}

.processo-content, .processos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.processo-content {
    max-width: 1050px;
    margin: 0 auto;
}

.processos{
    display: flex;
    gap: 80px;
}

.processos div {
    max-width: 240px;
    margin-top: 80px;
}

.processos img {
    width: 96px;
}

.processos h3 {
    margin-top: 8px;
    font-weight: 500;
    font-size: 30px;
}

.processos p {
    font-size: 18px;
    margin-top: 18px;
}

.icones img {
    opacity: 0;
}

#icone-1 {
    animation: fadeInLeft ease 0.7s forwards 0.3s;
}

#icone-2 {
    animation: fadeInLeft ease 0.7s forwards 0.4s;
}

#icone-3 {
    animation: fadeInLeft ease 0.7s forwards 0.5s;
}

#icone-4 {
    animation: fadeInLeft ease 0.7s forwards 0.6s;
}

#icone-5 {
    animation: fadeInLeft ease 0.7s forwards 0.7s;
}

#icone-6 {
    animation: fadeInLeft ease 0.7s forwards 0.8s;
}


.meu-trabalho {
    margin: 80px auto;
    width: 1050px;
}

.meu-trabalho h2 {
    margin: 30px 0;
    font-size: 96px;
    font-weight: 400;
    width: 100px;
    line-height: 96px;
}

.trabalhos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.projetos, .ilustracoes {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.41%, rgba(0, 0, 0, 0.925365) 99.99%, #000000 100%);
    height: 392px;
    width: 470px;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    cursor: pointer;
}

.trabalhos img {
    position: absolute;
    z-index: -1;
    object-fit:cover;
    transition: 0.5s ease;
}

.trabalhos img:hover {
    transform: scale(1.1);
}

.trabalhos-texto {
    color: white;
    margin: 20px 50px;
}
h3 {
    font-size: 48px;
    line-height: 50px;
}

.trabalhos-texto p {
    font-weight: 300;
    font-size: 24px;
}

.interessado {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

footer {
    background-color: #200F3D;
    color: white;
    padding: 48px 0;
}

.footer {
    display:flex;
    margin: 0 auto;
    width: 1050px;
    justify-content: space-between;
    align-items: center;
}

.footer p, .footer a {
    color:white;
    font-size: 18px;
    font-weight: 300;
}

.footer p {
    color: #5E4F77;
}

h4 {
    font-size: 32px;
    font-weight: 300;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes svgDraw {
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 1100px) {
    header {
        gap: 20vw;
    }

    .hero{
        width: calc(460px + 20vw);
    }

    .hero-text {
        font-size: 80px;
        width: 300px;
    }

    .prazer {
        font-size: 38px;
    }

    .hero-textos {
        gap: 0;
    }
    
    .hero-textos h2 {
        font-size: 28px;
    }

    .hero-subtext {
        font-size: 16px;
        line-height: normal;
        width: 300px;
    }

    .button {
        font-size: 16px;
        padding: 6px 16px;
    }


    .trabalhos {
        width: fit-content;
        flex-direction: column;
    }

    
  }

@media screen and (max-width: 700px) {
    header {
        width:max-content;
    }
    .nav {
        position: absolute;
        transition: 0.5s ease;
        transform: translateY(80px);
        opacity: 0;
    }

    .nav.active {
        z-index: 2;
        opacity: 1;
    }
    .menu {
        display: block;
        border-radius: 8px;
        transition: 0.5s;
    }

    .menu.active {
        background-color: #dddddd;
    }
    
    .danilomd {
        font-size: 36px;
    }

    .hero {
        width: 280px;
    }
    
    .prazer {
        font-size: 34px;
    }
    
    .hero-text {
        font-size: 70px;
    }

    .hero-textos h2 {
        margin-bottom: 60px;
        margin-left: -120px;
    }

    .hero-subtext{
        font-size: 16px;
        width: 300px;
    }

    .vamos-conversar {
        margin-top: 20px;
    }
}